.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.guru {
    max-height: 50%;
    max-width: 80%
}

.priza {
    position: absolute;
    animation: fall 2s linear forwards;
    animation-iteration-count: 5;
    width: 100px;
    height: 100px;
}

@keyframes fall {
    0% { top: -100px; }
    100% { top: 120%; }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(-5deg); }
    30% { transform: rotate(0deg); }
    45% { transform: rotate(5deg); }
    60% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    90% { transform: rotate(0deg); }
}
